.app-footer {
  background: linear-gradient(135deg, var(--color-primary) 0%, #147a9c 100%);
  color: white;
  padding: var(--spacing-md) var(--spacing-md);
  text-align: center;
  /* margin-bottom: var(--spacing-lg); */
}

.app-footer p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}